body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background: linear-gradient(135deg, #3a8865, #78d5aa);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  color: white;
}



* {
  box-sizing: border-box;
  
}

a {
  color: white;
  text-decoration: none;
}

.MuiDrawer-paper {
  background: linear-gradient(135deg, #074b2d, #095230); /* Match sidebar */
  color: white;
}

.MuiListItemIcon-root {
  color: white;
}

.Mui-selected {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

input, textarea, select {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  padding: 10px;
  color: white;
}

input::placeholder, textarea::placeholder {
  color: #f0f0f0;
}
